@import url("https://fonts.googleapis.com/css?family=Gothic+A1|Kaushan+Script|Libre+Baskerville|Lobster");

// media for large_desktop
@mixin large_desktop {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}
// media for large_desktop

// media for desktop
@mixin desktop {
  @media only screen and (min-width: 992px) {
    @content;
  }
}
// media for desktop

// media for tablets
@mixin tablets {
  @media only screen and (min-width: 768px) {
    @content;
  }
}
// media for tablets

// media for landscape_phones
@mixin landscape_phones {
  @media only screen and (min-width: 576px) {
    @content;
  }
}
// media for landscape_phones

// media for phones
@mixin phones {
  @media only screen and (min-width: 320px) {
    @content;
  }
}
// media for phones

body {
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
}

.counter {
  background-color: #fff;
  padding: 20px 0;
  border-radius: 5px;
}

.count-title {
  font-size: 40px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.count-text {
  font-size: 13px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.fa-2x {
  margin: 0 auto;
  float: none;
  display: table;
  color: #4ad1e5;
}

.body {
  font-family: "Gothic A1", sans-serif;
  font-size: 16px;
}

p {
  color: #6c6c6f;
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #323233;
  text-transform: capitalize;
}

.navbar-brand span {
  color: #fed136;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.navbar-brand {
  color: #fff;
  font-size: 25px;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.navbar-nav .nav-item .nav-link {
  padding: 1.1em 1em !important;
  font-size: 120%;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  font-family: "Gothic A1", sans-serif;

  @include tablets {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
    font-size: 100%;
  }
}

.navbar-nav .nav-item .nav-link:hover {
  color: #fed136;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
  border-top: 3px solid #fed136;
}

.dropdown-item:hover {
  background-color: #fed136;
  color: #fff;
}

nav {
  -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
  -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
  transition: padding-top 0.3s, padding-bottom 0.3s;
  border: none;
}

.shrink {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #212529;
}

.banner {
  background-image: url(https://i.stack.imgur.com/9WYxT.png);
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 480px;
  width: 100%;

  @include tablets {
    min-height: 380px;
  }
}

.banner-text {
  display: inline-block;
  position: absolute;
  top: 48%;
  transform: translate(-50%, -50%);
  width: 82%;

  @include desktop {
    top: 45%;
    width: 95%;
  }
  @include tablets {
    width: 92%;
    top: 35%;
  }
}

.banner-heading {
  font-family: "Lobster", cursive;
  font-size: 75px;
  font-weight: 700;
  line-height: 100px;
  margin-bottom: 30px;
  color: #fff;
}

.banner-sub-heading {
  font-family: "Libre Baskerville", serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 50px;
  color: #fff;
}

div#collapsibleNavbar ul li:last-child {
  margin: 2% 0 0 0;
}

.btn-banner {
  padding: 5px 20px;
  border-radius: 10px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.text-intro {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
}

.hero_leftSide_content {
  float: left;
  width: 33%;
  text-align: left;
  position: absolute;
  top: 13%;
  @include tablets {
    width: 50%;
  }
}

.hero_rightSide_image {
  width: 39%;
  float: right;
}

button.btn.btn-outline-light.google_play small.text-capitalize {
  float: right;
  text-align: left;
  margin-left: 15px;
}

button.btn.btn-outline-light.apple_play small.text-capitalize {
  float: right;
  text-align: left;
  margin-left: 15px;
}

.hero_leftSide_content ul li button {
  padding: 5px 20px !important;
}

.hero_leftSide_content ul li button:hover {
  background: #e94fcb;
  color: white;
  border-color: transparent;
}

.hero_leftSide_content ul li button i {
  font-size: 26px;
  margin-top: 5px;
}

li {
  list-style: none;
}

.hero_leftSide_content ul li p {
  color: white !important;
  margin: 5% 0;
}

div#collapsibleNavbar ul li a.nav-link:hover {
  color: #fff;
}

div#collapsibleNavbar ul li a.nav-link {
  color: #f8ffff9c;
  text-transform: capitalize;
}

nav#banner {
  position: absolute;
  width: 100%;
}

@media (max-width: 500px) {
  .navbar-nav {
    background-color: #000;
    border-top: 3px solid #fed136;
    color: #fff;
    z-index: 1;
    margin-top: 5px;
  }

  .navbar-nav .nav-item .nav-link {
    padding: 0.7em 1em !important;
    font-size: 100%;
    font-weight: 500;
  }

  .banner-text {
    padding: 150px 0 150px 0;
  }

  .banner-heading {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .banner-sub-heading {
    font-size: 10px;
    font-weight: 200;
    line-height: 10px;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .banner-sub-heading {
    font-size: 23px;
    font-weight: 200;
    line-height: 23px;
    margin-bottom: 40px;
  }
}

.item.powerFulTools-item.d-flex.flex-row .subitem {
  max-height: 50px;
  background: green;
}

.item.powerFulTools-item.d-flex.flex-column.justify-content-between .subitem {
  min-height: 113px;
}

.inner_item_of_choosePlan.d-flex.justify-content-between {
  position: relative;
  width: 100%;
}

.inner_item_of_choosePlan.d-flex.justify-content-between .item.item_choosePlan {
  background: white;
  min-height: 300px;
  display: inline-block;
  width: 100%;
  margin: 0 1%;
  padding: 5% 0;
  border: 1px solid #efdede;
}

.card {
  margin: 0 auto;
}

.card .carousel-item {
  min-height: 200px;
}

.card .carousel-caption h3 {
  color: #3d3d3d;
}

.card .carousel-caption p {
  line-height: 30px;
}

.card .carousel-caption .col-sm-3 {
  display: flex;
  align-items: center;
}

.card .carousel-caption .col-sm-9 {
  text-align: left;
}

.navi a {
  text-decoration: none;
}

a > .ico {
  background-color: grey;
  padding: 10px;
}

a:hover > .ico {
  background-color: #666;
}

.testimonialSlider.my-5 .card.col-md-12.mt-5.mb-5 div#carouselExampleControls .w-100.carousel-inner {
  overflow: unset;
}

.testimonialSlider.my-5 .card.col-md-12.mt-5.mb-5 {
  border: 0;
  background: unset;
}

.testimonialSlider {
  background: #fff url(../img/map.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 250px;
  width: 100%;
}

.company_logo_main {
  display: inline-block;
  width: 100%;
}

.company_logo_main ul li {
  list-style: none;
  display: inline-block;
  width: 19%;
  text-align: center;
}

body {
  font-family: "Varela Round", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #595b5a;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #095f7b;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #b3b3b3;
}

h1,
.h1,
h2,
.h2 {
  margin: 0 0 0.8em;
  letter-spacing: -0.02em;
}

h1 small,
.h1 small,
h2 small,
.h2 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small {
  font-size: 65%;
}

h3,
.h3 {
  margin: 0 0 1.3em;
}

h4,
.h4 {
  margin: 0 0 1em;
}

h4 small,
.h4 small,
h4 .small,
.h4 .small {
  font-size: 78%;
}

h5,
.h5,
h6,
.h6 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0 0 0.7em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a {
  color: #095f7b;
}

h1,
.h1 {
  font-size: 2.2em;
}

h2,
.h2 {
  font-size: 1.7em;
}

h3,
.h3 {
  font-size: 1.4em;
}

h4,
.h4 {
  font-size: 1.13em;
}

h5,
.h5 {
  font-size: 1em;
}

h6,
.h6 {
  font-size: 0.8em;
}

.add_divider {
  border-bottom: 2px dotted #dedede;
  padding-bottom: 0.6em;
  clear: both;
}

p {
  margin: 0 0 24px;
}

.panel {
  margin-bottom: 24px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-body {
  padding: 15px;
}

.panel-body > *:last-child {
  margin-bottom: 0;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  color: inherit;
}

.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit;
}

.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel > .list-group,
.panel > .panel-collapse > .list-group {
  margin-bottom: 0;
}

.panel > .list-group .list-group-item,
.panel > .panel-collapse > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}

.panel > .list-group:first-child .list-group-item:first-child,
.panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
  border-top: 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.panel > .list-group:last-child .list-group-item:last-child,
.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}

.list-group + .panel-footer {
  border-top-width: 0;
}

.panel > .table,
.panel > .table-responsive > .table,
.panel > .panel-collapse > .table {
  margin-bottom: 0;
}

.panel > .table caption,
.panel > .table-responsive > .table caption,
.panel > .panel-collapse > .table caption {
  padding-left: 15px;
  padding-right: 15px;
}

.panel > .table:first-child,
.panel > .table-responsive:first-child > .table:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.panel > .table:first-child > thead:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-left-radius: 3px;
}

.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-right-radius: 3px;
}

.panel > .table:last-child,
.panel > .table-responsive:last-child > .table:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 3px;
}

.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 3px;
}

.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive,
.panel > .table + .panel-body,
.panel > .table-responsive + .panel-body {
  border-top: 1px solid #dddddd;
}

.panel > .table > tbody:first-child > tr:first-child th,
.panel > .table > tbody:first-child > tr:first-child td {
  border-top: 0;
}

.panel > .table-bordered,
.panel > .table-responsive > .table-bordered {
  border: 0;
}

.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}

.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}

.panel > .table-bordered > thead > tr:first-child > td,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel > .table-bordered > tbody > tr:first-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel > .table-bordered > thead > tr:first-child > th,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
.panel > .table-bordered > tbody > tr:first-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
  border-bottom: 0;
}

.panel > .table-bordered > tbody > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-bordered > tbody > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel > .table-bordered > tfoot > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
  border-bottom: 0;
}

.panel > .table-responsive {
  border: 0;
  margin-bottom: 0;
}

.panel-group {
  margin-bottom: 24px;
}

.panel-group .panel {
  margin-bottom: 2%;
  border-radius: 4px;
}

.panel-group .panel + .panel {
  margin-top: 5px;
}

.panel-group .panel-heading {
  border-bottom: 0;
}

.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: 1px solid #dddddd;
}

.panel-group .panel-footer {
  border-top: 0;
}

.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #dddddd;
}

.panel-default {
  border-color: #dddddd;
}

.panel-default > .panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #dddddd;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #dddddd;
}

.panel-default > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333333;
}

.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #dddddd;
}

.panel-default h1,
.panel-default h2,
.panel-default h3,
.panel-default h4,
.panel-default h5,
.panel-default h6,
.panel-default .h1,
.panel-default .h2,
.panel-default .h3,
.panel-default .h4,
.panel-default .h5,
.panel-default .h6 {
  color: #333333;
}

.panel-primary {
  border-color: #cccccc;
}

.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #095f7b;
  border-color: #cccccc;
}

.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #cccccc;
}

.panel-primary > .panel-heading .badge {
  color: #095f7b;
  background-color: #ffffff;
}

.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #cccccc;
}

.panel-primary h1,
.panel-primary h2,
.panel-primary h3,
.panel-primary h4,
.panel-primary h5,
.panel-primary h6,
.panel-primary .h1,
.panel-primary .h2,
.panel-primary .h3,
.panel-primary .h4,
.panel-primary .h5,
.panel-primary .h6 {
  color: #ffffff;
}

.panel-success {
  border-color: #d6e9c6;
}

.panel-success > .panel-heading {
  color: #2da285;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.panel-success > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #d6e9c6;
}

.panel-success > .panel-heading .badge {
  color: #dff0d8;
  background-color: #2da285;
}

.panel-success > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #d6e9c6;
}

.panel-success h1,
.panel-success h2,
.panel-success h3,
.panel-success h4,
.panel-success h5,
.panel-success h6,
.panel-success .h1,
.panel-success .h2,
.panel-success .h3,
.panel-success .h4,
.panel-success .h5,
.panel-success .h6 {
  color: #2da285;
}

.panel-info {
  border-color: #bce8f1;
}

.panel-info > .panel-heading {
  color: #3e97b6;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #bce8f1;
}

.panel-info > .panel-heading .badge {
  color: #d9edf7;
  background-color: #3e97b6;
}

.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #bce8f1;
}

.panel-info h1,
.panel-info h2,
.panel-info h3,
.panel-info h4,
.panel-info h5,
.panel-info h6,
.panel-info .h1,
.panel-info .h2,
.panel-info .h3,
.panel-info .h4,
.panel-info .h5,
.panel-info .h6 {
  color: #3e97b6;
}

.panel-warning {
  border-color: #faebcc;
}

.panel-warning > .panel-heading {
  color: #ab8d00;
  border-color: #faebcc;
}

.panel-warning > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #faebcc;
}

.panel-warning > .panel-heading .badge {
  color: #fcf8e3;
  background-color: #ab8d00;
}

.panel-warning > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #faebcc;
}

.panel-warning h1,
.panel-warning h2,
.panel-warning h3,
.panel-warning h4,
.panel-warning h5,
.panel-warning h6,
.panel-warning .h1,
.panel-warning .h2,
.panel-warning .h3,
.panel-warning .h4,
.panel-warning .h5,
.panel-warning .h6 {
  color: #ab8d00;
}

.panel-danger {
  border-color: #ebccd1;
}

.panel-danger > .panel-heading {
  color: #a72026;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.panel-danger > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ebccd1;
}

.panel-danger > .panel-heading .badge {
  color: #f2dede;
  background-color: #a72026;
}

.panel-danger > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ebccd1;
}

.panel-danger h1,
.panel-danger h2,
.panel-danger h3,
.panel-danger h4,
.panel-danger h5,
.panel-danger h6,
.panel-danger .h1,
.panel-danger .h2,
.panel-danger .h3,
.panel-danger .h4,
.panel-danger .h5,
.panel-danger .h6 {
  color: #a72026;
}

.panel-title > a:before {
  content: "\f068";
  float: right !important;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.panel-title > a.collapsed:before {
  content: "\f067";
}

.panel-title > a {
  text-decoration: none;
}

.checkOut_inner_content.d-flex.justify-content-between {
  position: relative;
  width: 100%;
}

.checkOut_inner_content.d-flex.justify-content-between .item.checkout_item {
  min-height: 500px;
  display: inline-block;
  width: 100%;
  margin: 0 10px;
  position: relative;
  border-radius: 5px !important;
}

.checkOut_inner_content.d-flex.justify-content-between .item.checkout_item:first-child {
  margin-left: 0;
}

.checkOut_inner_content.d-flex.justify-content-between .item.checkout_item:last-child {
  margin-right: 0;
}

.inner_item_of_choosePlan.d-flex.justify-content-between .item.item_choosePlan:first-child {
  margin-left: 0;
}

.inner_item_of_choosePlan.d-flex.justify-content-between .item.item_choosePlan:last-child {
  margin-right: 0;
}

.checkOut.py-5 {
  background: #f7faff;
}

.footer_inner_content.d-flex.justify-content-between.py-5 {
  display: inline-block;
  width: 100%;
}

.footer_inner_content.d-flex.justify-content-between.py-5 .item {
  width: 100%;
  margin: 0 5px;
}

.hero_content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 361px;
  width: 100%;
  text-align: center;
}

.hero_content .hero_leftSide_content ul li {
  list-style: none;
}

.d-flex.justify-content-between.effective_tools-items .item.tools-items ul li {
  border: 0;
  background: unset;
}

.d-flex.justify-content-between.effective_tools-items .item.tools-items {
  margin: 0 15px;
  padding: 25px;
  background: #fff;
  @include tablets {
    padding: 10px;
  }
}
.d-flex.justify-content-between.effective_tools-items .item.tools-items ul li h4 {
    font-size: 24px;
    @include tablets{
        font-size: 16px;
    }
}
.d-flex.justify-content-between.effective_tools-items .item.tools-items:first-child {
  margin-left: 0;
}

.d-flex.justify-content-between.effective_tools-items .item.tools-items:last-child {
  margin-right: 0;
}

.unique-BG-color {
  background: #8d00c9 !important;
}

.item.tools-items.unique-BG-color ul li.list-group-item {
  color: #fff !important;
}

.item.tools-items.unique-BG-color ul li.list-group-item p {
  color: #fff;
  position: relative;
}

.item.tools-items.unique-BG-color ul li.list-group-item p::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #fff !important;
  width: 15% !important;
  top: 90px !important;
  left: 0% !important;
}

.d-flex.justify-content-between.effective_tools-items .item.tools-items ul li {
  position: relative;
}

.d-flex.justify-content-between.effective_tools-items .item.tools-items ul li p::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #000;
  width: 10%;
  top: 90%;
  left: 7%;
}

.item.tools-items.unique-BG-color ul li.list-group-item a {
  color: #fff;
}

.d-flex.justify-content-between.inner_contentOf_powerFulTools {
  display: inline-block;
  width: 100%;

  @include desktop {
    width: 95%;
    margin: 0 auto;
  }
}

.powerful_tools.py-5 .d-flex.justify-content-between.inner_contentOf_powerFulTools .item.powerFulTools-item {
  width: 50%;
}

.d-flex.justify-content-between.inner_contentOf_powerFulTools .item ul li {
  border: 0;
  width: 75%;
  background: unset;
  margin: 1% 0;
  padding: 0;
}

.d-flex.justify-content-between.inner_contentOf_powerFulTools
  .item
  ul
  li
  ul.list-group.powerFulTools-item_inner_UL
  li.list-group-item {
  padding: 5px 0;
  text-transform: capitalize;
  color: #757b91;
  width: 100%;
  font-size: 14px;
  margin: 0;
}

.d-flex.justify-content-between.inner_contentOf_powerFulTools
  .item
  ul
  li
  ul.list-group.powerFulTools-item_inner_UL
  li.list-group-item
  i.fa.fa-check {
  color: #e94fc9;
}

.powerful_tools.py-5 {
  background: #eff0f3;
}

.d-flex.justify-content-between.inner_contentOf_powerFulTools
  .item
  ul
  li
  ul.list-group.powerFulTools-item_inner_UL
  li.list-group-item
  button.btn.btn-outline-light.text-dark {
  background: #fff;
  margin-top: 5%;
}

.d-flex.justify-content-between.inner_contentOf_powerFulTools
  .item
  ul
  li
  ul.list-group.powerFulTools-item_inner_UL
  li.list-group-item
  button.btn.btn-outline-light.text-dark:hover {
  background: #d6dde6;
  color: white !important;
}

.item.powerFulTools-item.d-flex.flex-column.justify-content-between.powerFulTools-item_right_side_item
  .subitem.subitem1.bg-dark {
  background: #5473e8 !important;
  padding: 2% 10%;
  border-radius: 10px !important;
}

.item.powerFulTools-item.d-flex.flex-column.justify-content-between.powerFulTools-item_right_side_item
  .subitem.subitem1.bg-dark
  .subItem_left_content {
  float: left;
  font-size: 20px;
}

.item.powerFulTools-item.d-flex.flex-column.justify-content-between.powerFulTools-item_right_side_item
  .subitem.subitem1.bg-dark
  figure {
  float: right;
  margin-bottom: 0;
}

.item.powerFulTools-item.d-flex.flex-column.justify-content-between.powerFulTools-item_right_side_item
  .subitem.subitem1.bg-dark
  .subItem_left_content
  small {
  font-size: 20px;
  text-transform: capitalize;
  color: white;
}

.item.powerFulTools-item.d-flex.flex-column.justify-content-between.powerFulTools-item_right_side_item
  .subitem.subitem1.bg-dark
  .subItem_left_content
  p {
  color: #aebdf4;
  font-size: 18px;
}

.item.powerFulTools-item.d-flex.flex-column.justify-content-between.powerFulTools-item_right_side_item .subitem {
  margin: 2% 0px;
  border-radius: 10px !important;
}

.item.powerFulTools-item.d-flex.flex-column.justify-content-between.powerFulTools-item_right_side_item
  .subitem:first-child {
  margin-top: 0;
}

.item.powerFulTools-item.d-flex.flex-column.justify-content-between.powerFulTools-item_right_side_item
  .subitem:last-child {
  margin-bottom: 0;
}

.item.powerFulTools-item.d-flex.flex-column.justify-content-between.powerFulTools-item_right_side_item
  .subitem.subitem2.bg-light {
  background: #fff !important;
  padding: 6%;
}

.item.powerFulTools-item.d-flex.flex-column.justify-content-between.powerFulTools-item_right_side_item
  .subitem.subitem2.bg-light
  ul
  li {
  background: #4c0ade;
  width: 17%;
  float: left;
  margin: 0 4%;
  border-radius: 25px;
  text-align: center;
  color: white;
  padding: 0% 2%;
  font-size: 24px;
}

.item.powerFulTools-item.d-flex.flex-column.justify-content-between.powerFulTools-item_right_side_item
  .subitem.subitem2.bg-light
  ul
  li:last-child {
  background: #8f0add;
}

.completed_overDue .completed-item {
  width: 50%;
  background: #4fd2c2;
  text-align: center;
  color: white;
  float: left;
  border-top-left-radius: 12px;
}

.completed_overDue .overDue-item {
  background: #d667cd;
  width: 50%;
  text-align: center;
  color: white;
  float: right;
  border-top-right-radius: 12px;
}

.completed_overDue {
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
}

.completed_overDue .new_icons {
  background: white;
  width: 100%;
  display: inline-block;
  padding: 1% 0 0 0;
}

.item.powerFulTools-item.d-flex.flex-column.justify-content-between.powerFulTools-item_right_side_item
  .subitem.subitem2.bg-dark {
  min-height: 140px;
  background: #fff !important;
}

.completed_overDue .new_icons small {
  float: left;
  width: 50%;
  text-align: left;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  margin-top: 10px;
}

.completed_overDue .new_icons small span {
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
}

a.btn.btn-outline-dark.monthly-btn {
  border-right: 0;
  border-top-right-radius: 0;
}

a.btn.btn-outline-dark.year_btn {
  border-left: 0;
  border-top-left-radius: 0;
}

.year_month_btn.my-4.mx-auto.d-inline-block .btn-group button {
  border: 1px solid #eaeaea;
}

.year_month_btn.my-4.mx-auto.d-inline-block .btn-group button:hover {
  background-color: #e94fcb;
  color: #fff;
}

.inner_item_of_choosePlan.d-flex.justify-content-between .item.item_choosePlan.text-center ul li small {
  position: relative;
}

.inner_item_of_choosePlan.d-flex.justify-content-between .item.item_choosePlan.text-center ul li small::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #28a745;
  width: 75%;
  top: 45px;
  left: 10px;
}

.inner_item_of_choosePlan.d-flex.justify-content-between .item.item_choosePlan ul li h2 {
  font-size: 40px;
  font-weight: 400;
}

li.extraFeatures {
  margin-top: 15% !important;
}

.inner_item_of_choosePlan.d-flex.justify-content-between .item.item_choosePlan ul li small {
  font-weight: 700;
  text-transform: uppercase;
  color: #25316b;
}

.inner_item_of_choosePlan.d-flex.justify-content-between .item.item_choosePlan ul li {
  text-transform: capitalize;
  margin: 10px 0;
}

small.basic_packtwo {
  position: relative;
}

small.basic_packtwo::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ad63f4 !important;
}

small.basic_packthree {
  position: relative;
}

small.basic_packthree::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #f2a734 !important;
}

.inner_item_of_choosePlan.d-flex.justify-content-between
  .item.item_choosePlan
  ul
  li
  button.btn.btn-outline-dark.text-capitalize:hover {
  background: #e94fcb;
  color: white;
  border-color: #e94fcb;
}

.want_to_ask.py-5 .heading_ask_want.text-center.mb-5.mx-auto {
  width: 35%;
}

.checkOut.py-5 .heading_ask_want.text-center.py-5.mx-auto {
  width: 30%;
  @include desktop {
    width: 35%;
  }
}

.checkOut_inner_content.d-flex.justify-content-between .item.checkout_item .checkout_item_date_time {
  position: absolute;
  top: 0;
  background: #e94fcb;
  color: white;
  padding: 5px 10px;
  border-top-left-radius: 5px !important;
  border-bottom-right-radius: 5px;
}

.checkOut_inner_content.d-flex.justify-content-between .item.checkout_item figure img {
  border-radius: 5px;
}

.admin_comments {
  display: inline-block;
  width: 60%;
}

.admin_comments small {
  text-transform: uppercase;
  color: #e84fcd;
  font-weight: 500;
}

.checkOut_inner_content.d-flex.justify-content-between .item.checkout_item p {
  margin: 5% 0;
}

.checkOut_inner_content.d-flex.justify-content-between .item.checkout_item a.text-capitalize.font-weight-bold:hover {
  text-decoration: none;
}

.heading_choose_plan.mx-auto {
  width: 35%;
}

.heading_of_effective_tools.mx-auto {
  width: 23%;
  @include desktop {
    width: 25%;
  }
  @include tablets {
    width: 35%;
  }
}

section.subscribeNow.py-5 h2.text-center.mx-auto {
  width: 30%;
  color: #273069;
}

section.subscribeNow.py-5 .row .main_content_subscribe.mx-auto form.mx-auto .form-group button.btn.btn-primary {
  background: #e94fcb;
  padding: 14px 25px;
  vertical-align: unset;
}

section.subscribeNow.py-5 .row .main_content_subscribe.mx-auto form.mx-auto .form-group input#email-subscribe {
  padding: 15px 100px 15px 10px;
  border-radius: 5px;
  border: 1px solid #d8d1d1;
}

.item.logo_footer h2 {
  color: #273166;
}

.footer_inner_content.d-flex.justify-content-between.py-5 .item h5.text-center {
  text-align: left !important;
  text-transform: capitalize;
  color: #263266;
}

.footer_inner_content.d-flex.justify-content-between.py-5 .item ul li {
  margin: 10px 0;
  text-transform: capitalize;
  color: #777c92;
}

.footer_inner_content.d-flex.justify-content-between.py-5 .item ul li a {
  color: #777c92;
}

.footer_inner_content.d-flex.justify-content-between.py-5 .item ul li a:hover {
  color: #273069;
  text-decoration: none;
}

.item.list-footer.social_icon ul li {
  float: left;
}

.item.list-footer.social_icon ul li a {
  background: none;
  border: 1px solid #dacece6b;
  border-radius: 50%;
  padding: 12px 14px;
  margin: 0 5px;
  cursor: pointer;
  @include desktop {
    padding: 8px 10px;
  }
}

.item.list-footer.social_icon ul li a:hover {
  background: #e94fcb;
  color: white !important;
}

.testimonialSlider.py-5 .card.col-md-12.mt-5.mb-5 {
  background: no-repeat;
  border: 0;
}

.testimonialSlider.py-5
  .card.col-md-12.mt-5.mb-5
  div#carouselExampleControls
  .w-100.carousel-inner
  .carousel-item
  .carousel-caption {
  left: 0;
  right: 0;
}

.testimonialSlider.py-5 .card.col-md-12.mt-5.mb-5 {
  background: #ffffffa8;
  border: 0;
  box-shadow: 0px 0px 15px 0px #00000017;
  border-radius: 10px;
  padding: 15px;
  @include desktop {
    margin: 0 !important;
  }
}
.testimonialSlider.py-5
  .card.col-md-12.mt-5.mb-5
  div#carouselExampleControls
  .w-100.carousel-inner
  .carousel-caption
  .row
  .col-sm-9
  small {
  color: black;
}

.inner_item_of_choosePlan.d-flex.justify-content-between .item.item_choosePlan ul li button {
  border: 1px solid #d8cfcf;
}

.want_to_ask.py-5 .col-md-10.mx-auto .panel.panel-warning h4.panel-title {
  color: #273367;
  font-size: 16px;
}

.want_to_ask.py-5 .col-md-10.mx-auto .panel.panel-warning h4.panel-title a:hover {
  text-decoration: none;
}

.want_to_ask.py-5 .row .col-md-10.mx-auto .panel.panel-warning .panel-body h4 {
  color: #e94fcb;
  font-size: 16px;
  margin: 10px 0;
}
